<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Car Data</title>
    <style>
        .hidden-content {
            display: none;
        }

        details[open] .hidden-content {
            display: table-row;
        }
    </style>
</head>
<body>
    <h1>Car Data</h1>
    <p>{{.CarData.Message}}</p>
    <form method="POST" action="/">
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Category</th>
                <th>Year</th>
            </tr>
            {{range .CarData.CarModels}}
            <tr class="container">
                <td>
                    <input type="checkbox" name="option" value="{{.ID}}" class="checkbox">
                    <details>
                        <summary>
                            <img src="http://localhost:3000/api/images/{{.Image}}" alt="{{.Name}} Image" width="150">
                        </summary>
                        <div class="hidden-content">
                            <strong>Specifications:</strong>
                            <ul>
                                <li>Engine: {{.Specifications.Engine}}</li>
                                <li>Horsepower: {{.Specifications.Horsepower}}</li>
                                <li>Transmission: {{.Specifications.Transmission}}</li>
                                <li>Drivetrain: {{.Specifications.Drivetrain}}</li>
                            </ul>
                        </div>
                    </details>
                </td>
                <td>{{.Name}}</td>
                <td>
                    <details>
                        <summary>
                            {{GetManufacturerData .ManufacturerID $.CarData "Name"}}
                        </summary>
                        <div class="hidden-content">
                            <strong>Info:</strong>
                            <ul>
                                <li>Country: {{GetManufacturerData .ManufacturerID $.CarData "Country"}}</li>
                                <li>Founding year: {{GetManufacturerData .ManufacturerID $.CarData "FoundingYear"}}</li>
                            </ul>
                        </div>
                    </details>
                </td>
                <td>{{GetCategoryName .CategoryID $.CarData}}</td>
                <td>{{.Year}}</td>
            </tr>
            {{end}}
        </table>
        <button type="submit" id="submit-button">Compare</button>
    </form>

    <!-- HTML Form for Filtering -->

    <form method="get" action="/filtered">
        <label for="manufacturer">Manufacturer:</label>
        <select name="manufacturer">
            <option value="">All</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="BMW">BMW</option>
            <option value="Audi">Audi</option>
            <option value="Mercedes-Benz">Mercedes-Benz</option>
            <option value="Ford">Ford</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Lexus">Lexus</option>
            <option value="Nissan">Nissan</option>
        </select>

        <label for="category">Category:</label>
        <select name="category">
            <option value="">All</option>
            <option value="SUV">SUV</option>
            <option value="Sedan">Sedan</option>
            <option value="Coupe">Coupe</option>
            <option value="Truck">Truck</option>
            <option value="Hatchback">Hatchback</option>
            <option value="Convertible">Convertible</option>
            <option value="Wagon">Wagon</option>
            <option value="Electric">Electric</option>
            <option value="Luxury">Luxury</option>
            <option value="Sports">Sports</option>
        </select>

        <label for="drivetrain">Drivetrain:</label>
        <select name="drivetrain">
            <option value="">All</option>
            <option value="Front-Wheel Drive">Front-Wheel Drive</option>
            <option value="Rear-Wheel Drive">Rear-Wheel Drive</option>
            <option value="All-Wheel Drive">All-Wheel Drive</option>
        </select>

        <label for="transmission">Transmission:</label>
        <select name="transmission">
            <option value="">All</option>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
            <option value="CVT">CVT</option>
        </select>

        <label for="horsepower">Horsepower:</label>
        <select name="horsepower">
            <option value="0-450">All</option>
            <option value="0-150">0-150 HP</option>
            <option value="151-300">151-300 HP</option>
            <option value="301-450">301-450 HP</option>
        </select>

        <button type="submit">Apply Filters</button>
</form>

    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Year</th>
        </tr>
        {{range .CarData.CarModels}}
        <tr>
            <td>
                <details>
                    <summary>
                        <img src="http://localhost:3000/api/images/{{.Image}}" alt="{{.Name}} Image" width="150">
                    </summary>
                    <div class="hidden-content">
                        <strong>Specifications:</strong>
                        <ul>
                            <li>Engine: {{.Specifications.Engine}}</li>
                            <li>Horsepower: {{.Specifications.Horsepower}}</li>
                            <li>Transmission: {{.Specifications.Transmission}}</li>
                            <li>Drivetrain: {{.Specifications.Drivetrain}}</li>
                        </ul>
                    </div>
                </details>
            </td>
            <td>{{.Name}}</td>
            <td>
                <details>
                    <summary>
                        {{GetManufacturerData .ManufacturerID $.CarData "Name"}}
                    </summary>
                    <div class="hidden-content">
                        <strong>Info:</strong>
                        <ul>
                            <li>Country: {{GetManufacturerData .ManufacturerID $.CarData "Country"}}</li>
                            <li>Founding year: {{GetManufacturerData .ManufacturerID $.CarData "FoundingYear"}}</li>
                        </ul>
                    </div>
                </details>
            </td>
            <td>{{GetCategoryName .CategoryID $.CarData}}</td>
            <td>{{.Year}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>
